.chapterTitleBlock{
    position: fixed;
    left: 10px;
    top: 10px;
    h1{
        font-size: 96px;
        font-family: $hackney-font-stack;
        color: #FFE419;
    }
    h2{
        font-size: 48px;
        font-family: $hackney-font-stack;
        color: #186FE1;
        margin-left: 67px;
        margin-top: -15px;
    }
}