$texts-text-font-sizes: (
  null: 2rem /* 32px */,
);

$questions-font-sizes: (
  null: 3.25rem /* 52px */,
);

.texts {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $hackney-font-stack !important;
  color: v(white-color);
  text-transform: uppercase;
  margin-bottom: 4.6875rem; // 75px

  .text {
    @include font-size($texts-text-font-sizes);
    max-width: 920px;
    text-align: center;

    &:first-child {
      margin-bottom: 1.25rem; // 20px
    }

    &--one {
      opacity: 0;
    }

    &--two {
      opacity: 0;
    }
  }

  .questions {
    @include font-size($questions-font-sizes);
    text-align: center;
    margin-top: 2.1875rem; // 35px
  }

  .question {
    &--one {
      display: none;
      opacity: 0;
    }

    &--two {
      display: none;
      opacity: 0;
    }

    &--three {
      display: none;
      opacity: 0;
    }

    &--four {
      display: none;
      opacity: 0;
    }

    &--five {
      display: none;
      opacity: 0;
    }
  }
}
