$slide-title-font-sizes: (
  null: 5.75rem /* 92px */,
);

$slide-subtitle-font-sizes: (
  null: 3.875rem /* 62px */,
);

$slide-text-font-sizes: (
  null: 1.125rem /* 18px */,
);

.home {
  background-image: url(../../../images/background-home-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contents {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 $main-gap;
  grid-template-areas: 'carousel carousel carousel carousel carousel illustration illustration illustration illustration illustration illustration illustration';
}

.carousel {
  grid-area: carousel;
  min-width: 447px;

  .slide {
    cursor: grab;

    &__title,
    &__subtitle {
      font-family: $hackney-font-stack;
    }

    &__title {
      @include font-size($slide-title-font-sizes);
      color: v(white-color);
      text-transform: uppercase;
    }

    &__subtitle {
      @include font-size($slide-subtitle-font-sizes);
      color: v(blue-color);
      text-transform: uppercase;
    }

    &__text {
      @include font-size($slide-text-font-sizes);
      color: v(white-color);
      font-weight: 500;
      margin-top: 0.625rem; // 10px
    }
  }
}

.illustration {
  grid-area: illustration;
}
