.icons {
  position: absolute;
  bottom: 25px;
  right: 25px;
  display: flex;
  flex-direction: row;
  z-index: 100;

  .icon {
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 1.25rem; // 20px
    }
  }
}

.chapter {
  .icons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}