.menu {
  position: relative;
  z-index: 1;

  &__burger,
  &__sound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__burger {
    width: 100px;
    height: 100px;
    background-color: v(blue-color);
    border-radius: 50%;
    z-index: -1;
  }

  &__sound {
    position: absolute;
    bottom: -50px;
    right: -25px;
    width: 72px;
    height: 72px;
    background-color: v(yellow-color);
    border-radius: 50%;
    cursor: pointer;
    z-index: -2;
  }
}
