.timeline{
    display: none;
    width: 7200px;
    .line{
        position: absolute;
        bottom: -25px;
        left: -1357px;
        z-index: 0;
        max-width: 7200px;
        overflow: hidden;
    }
    .mainPointOne{
        position: absolute;
        bottom: 47px;
        left: 600px;
        z-index: 1;
    }
    .mainPointTwo{
        position: absolute;
        bottom: 87px;
        left: 2300px;
        z-index: 1;
    }
    .mainPointThree{
        position: absolute;
        bottom: 30px;
        left: 3900px;
        z-index: 1;
    }
    .mainPointFour{
        position: absolute;
        bottom: 31px;
        left: 4900px;
        z-index: 1;
    }
}