$quiz-title-sizes: (
  null: 4rem /* 64px */,
);

$quiz-questions-sizes: (
  null: 1.125rem /* 18px */,
);

$quiz-buttons-sizes: (
  null: 0.875rem /* 14px */,
);

.container-quiz {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100vh;
  left: 0;
  transform: translate3d(0, 0, 0);
  z-index: 100;
  transition: all 1s ease;

  &.is-open {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .quizz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.container__quizz {
  background-color: v(white-color);
  padding: 3rem 5rem;
  position: relative;
  margin-top: 160px;
}

.result__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.result {
  margin-top: 1.25rem; // 20px
  background: v(white-color);
  padding: 3rem;
  position: relative;
}

.result__game {
  text-align: center;
  margin-bottom: 2rem;
}

.good__answer {
  margin-bottom: 2rem;
}

li.ui.floating.message.options {
  margin-bottom: 1rem;
  background: v(blue-color);
  color: v(white-color);
}
.container__result {
  text-align: center;
}
.quizz__title {
  margin: 1rem 0rem 2rem 0rem;
  font-family: $hackney-font-stack;
  font-style: normal;
  font-weight: bold;
  @include font-size($quiz-title-sizes);
  line-height: 77px;
  color: v(blue-color);
}
.quizz__question {
  margin-bottom: 3rem;
  font-family: $main-font-stack;
  font-style: normal;
  font-weight: 500;
  @include font-size($quiz-questions-sizes);
  line-height: 22px;
}
.current_question {
  margin-bottom: 2rem;
  font-family: $main-font-stack;
  font-style: normal;
  font-weight: 500;
  @include font-size($quiz-questions-sizes);
  line-height: 22px;
}
.container__messages {
  margin-top: 1rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.container__message {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $main-font-stack;
  font-style: normal;
  font-weight: 500;
  @include font-size($quiz-questions-sizes);
  line-height: 22px;
}
.container__button {
  display: flex;
  justify-content: center;
}
.index {
  margin-right: 0.625rem;
  background: v(black-color);
  color: v(white-color);
  padding: 0.3125rem 0.625rem; // 5px 10px
}

.options {
  cursor: pointer;
  padding: 0.625rem; // 10px
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background: v(blue-color) !important;
}

ul {
  list-style-type: none;
}
button.ui.inverted.button {
  background-color: v(blue-color);
  padding: 0.625rem 1.875rem; // 10px 30px
  border: none;
  color: v(white-color);
  font-family: $main-font-stack;
  font-style: normal;
  font-weight: 600;
  @include font-size($quiz-buttons-sizes);
  line-height: 17px;
  text-align: center;
}
.container__buttonOne {
  display: flex;
  justify-content: center;
}
.buttonOne {
  cursor: pointer;
  background: v(black-color);
  margin-top: 2rem;
  padding: 0.625rem 1.875rem; // 10px 30px
  border: none;
  color: v(blue-color);
  font-family: $main-font-stack;
  font-style: normal;
  font-weight: 600;
  @include font-size($quiz-buttons-sizes);
  line-height: 17px;
  text-align: center;
}

.quiz__close {
  font-family: $hackney-font-stack;
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 46px;
  cursor: pointer;
  z-index: 1000;
}
