// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/* Regular font family */
$main-font-stack: 'montserrat', sans-serif;
$main-line-height: normal;

$hackney-font-stack: 'hackney', sans-serif;

:root {
  // Basics colors
  --text-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --yellow-color: #ffe419;
  --black-custom-color: #1a1a1a;
  --blue-color: #186fe1;
  --turquoise-color: #3dffff;
  --turquoise-shadow-color: #A7EFFF;
  --blue-dark-color: #00123c;
}

/* Breakpoints */
$small-min: ((576 / 16) * 1em);
$small-max: max-width ((767 / 16) * 1em);
$medium-min: ((768 / 16) * 1em);
$medium-max: max-width ((991 / 16) * 1em);
$large-min: ((992 / 16) * 1em);
$large-max: max-width ((1199 / 16) * 1em);
$x-large-min: ((1200 / 16) * 1em);

/* Container */
$container-max-width: 1160px;

/* Display Grid */
$main-gap: 15px;
